fastapi
uvicorn
chromadb
langchain
langchain_google_genai
langchain_openai
langchain_core
langchain_community
langchain_chroma
httpx-oauth
PyJWT
firebase_admin
tiktoken
pymongo
python-dotenv
requests
httpx
streamlit
pydantic